/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.container {
  width: 90%;
  max-width: 500px;
  background-color: #1e1e2f;
  border-radius: 12px;
  padding: 30px 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}
.screen {
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.screen.active {
  display: flex;
}
h1 {
  margin-bottom: 20px;
}
h3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0;
  width: 100%;
  padding: 10px;
  background-color: #292a38;
  border: 2px solid #00f2fe;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s;
}

